@page
@using VivesShopDevosNick.UI.MVC.Models

@{
    Layout = "_Layout";
}

<div class="container text-center">
<div class="card card-outline-primary m-4 p-4">
    <h2>Thank You!</h2>
    <p>Your order has been successfully placed.</p>
</div>
</div>
